body { display: flex; flex-wrap: wrap; align-content: flex-start; justify-content: flex-start; font-family: sans; }
header { flex-basis: 100%; flex-shrink: 0; }
article { flex-basis: 60%; padding-left: 1em; }
footer { flex-basis: 100%; flex-shrink: 0; }
header nav { display: flex; justify-content: space-between; }
nav a, header a { text-decoration: none ; color: inherit; }
header h1 span { margin-left: 1em; font-size: 50%; font-style: italic; }
body > nav { flex-basis: content; padding-right: 1vw; min-width: 16em; }
nav ul { display: flex; flex-direction: column; list-style-type: none; list-style-position: outside; padding-left: 0;  }
nav li ul { padding-left: 0.6em }
footer { display: flex; justify-content: space-between; }
img { width: 300px;  padding: 4px;}
blockquote { border-left: 2px solid #999999; padding-left: 10px; margin-left: 10px; margin-right: 10px}
/* cut here to leave vanity behind */

body { margin:0; padding: 0; font-size: 84%; font-family: Helvetica, Verdana, Arial, 'Liberation Sans', FreeSans, sans-serif; }
a { text-decoration: none; color: }
a:hover { text-decoration: underline; }
.thisPage { color: #000000; }

/* header and top bar */
header nav { background-color: #6487dc; color: #ffffff; padding: 0.3em; border-bottom: 2px solid #000000; font-size: 91%; }
header h1 { background-color:  #6487dc; color: #ffffff; margin: 0; border-bottom: 2px solid #000000; font-weight: normal; padding: 0.25ex; font-size: 233%; }
header a:hover { text-decoration: none; }

/* sidebar */
body > nav { border-right: 1px solid #dddddd; padding: 0;  } 
body > nav > div { border-bottom: 1px solid #dddddd; } 
body > nav > div a { color: #0066cc; display: block; text-transform: capitalize; font-weight: bold; padding: 0.25em 1ex 0.25em 2mm; font-size: 102%} 
body > nav > div a:hover { color: #ffffff; background-color: #6487dc; border-left: #000000 solid 0.2em; text-decoration: none; }
body > nav > div p { font-weight: bold; margin: 0 0 0.5em 2mm; padding: 1em 0 0 0; }

/* main copy */
article { padding: 0.5ex 0 5vh 1vw;  }
article h1, article h2 { color: #0066cc; font-weight: bold; border-bottom: 2px solid #0066cc; }
article h3, article h4, article h5 { color: #0066cc; font-weight: bold; margin: 2em 0 0 0; }
article h6, article h7, article h8 { color: #0066cc; font-weight: bold; margin: 2em 0 0 0; }
article a { color: #0066cc; }
article a:hover { color:  #6487dc); }

/* footer */
footer { color: #ffffff; background-color: #6487dc; }
footer a { color: inherit; }
footer div { padding: 1em; }

/* tables */
table { border: 1px solid #80808080; padding: 0; }
th { color: #ffffff; background-color: #6487dc; }
tr:nth-child(odd) { background-color: #80808080; }
